<form action='/puppy' method="post">
<Label>Puppy Name:<input type="text" input name="name"</Label><br>
<Label>Puppy Breed:<input type="text" input name="breed"</Label><br>
<Label>Puppy Age:<input type="integer" input name="age"</Label><br>
  <input type="submit" value="submit" id="Submit" />
</form>
