<form method="post" action="/display_puppy">
  Puppy Name: <input type="text" name="name"/>
  Puppy Age: <input type="text" name="age"/>
  Puppy Breed: <input type="text" name="breed"/>
  <input type="submit" name="submit" id="submit"/>
</form>