<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Welcome To The Puppy Adoption Site</h1>
    <a href="/new"><h3>Click Here To List A Puppy</h3></a>
  </body>
</html>
